#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.btnNumber{
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.btnNumber:hover{
  background-color: #eee;
  border-color: #ddd;
  color: #333;
}

.btnNumber:active{
  background-color: #eee;
  border-color: #ddd;
  color: #333;
}

.btnNumber:focus{
  background-color: #eee;
  border-color: #ddd;
  color: #333;
}

.btnNumber:visited{
  background-color: #eee;
  border-color: #ddd;
  color: #333;
}

.btnNumber:disabled{
  background-color: #eee;
  border-color: #ddd;
  color: #333;
}

.btnNextAndPrevious{
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.btnNextAndPrevious:hover{
  background-color: #eee;
  border-color: #ddd;
  color: #333;
}

.btnNextAndPrevious:active{
  background-color: #eee;
  border-color: #ddd;
  color: #333;
}

.btnNextAndPrevious:focus{
  background-color: #eee;
  border-color: #ddd;
  color: #333;
}

.btnNextAndPrevious:visited{
  background-color: #eee;
  border-color: #ddd;
  color: #333;
}

.btnNextAndPrevious:disabled{
  background-color: #eee;
  border-color: #ddd;
  color: #333;
}

.input{
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.input:hover{
  background-color: #eee;
  border-color: #ddd;
  color: #333;
}

.input:active{
  background-color: #eee;
  border-color: #ddd;
  color: #333;
}

.tableTh{
  background-color: #faad81;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}